/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.card-movie{
  transition:all 0.2s ease-in-out;
  cursor: pointer;
}

.card-movie:hover{
  transform: scale(1,1.05);
  box-shadow: 0 .20rem 1.75rem 0 rgba(58,59,69,.15);
}